{% extends "generic/base.html" %}

{% block container %}
    <form method="post" class="row g-3 needs-validation" {% if form.errors %} novalidate {% else %} was-validated{% endif %}>
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                {% if field.widget_type == "select" %}
                    <select class="form-select" aria-label="{{ field.label }}" required>
                        {% for item in field %}
                            {{ item }}
                        {% endfor %}
                    </select>
                {% elif field.widget_type == "textarea" %}
                    <textarea class="form-control" id="{{ field.auto_id }}"  placeholder="{{ field.label }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" {{ field.required }}rows="5"></textarea>
                {% else %}
                    <input type="{{ field.widget_type }}" class="form-control" id="{{ field.auto_id }}" name="{{ field.name }}" placeholder="{{ field.label }}" value="{{ field.value|default_if_none:'' }}" {{ field.required }}>
                {% endif %}
                <div class="invalid-feedback">

                    {% if field.errors %}
                        {{ field.errors }}
                    {% else %}
                        Campo requerido
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Create
        </button>
    </form>
{% endblock %}