{% load static %}
<html>

<head>
    <title>PDF Generator API Example</title>
</head>

<body class="p-2">
<div class="flex flex-row">
    <div style="width: 25%;">
        <h2 class="p-1 text-lg font-bold border-b border-gray-100">API Credentials</h2>
        <p class="p-2">
            Create a free Sandbox account to get your API credentials at <a href="https://pdfgeneratorapi.com" targer="_blank">pdfgeneratorapi.com</a>. Fill form values and click "Open editor" to load embedded editor in an iframe.
        </p>
        <form class="m-4">
            <div class="space-y-4">
                <div>
                    <label for="api-key" class="block font-medium">API Key</label>
                    <input type="text" name="api_key" id="api-key" class="block rounded ring-1 ring-inset ring-gray-300 p-1" placeholder="Paste your API Key">
                </div>
                <div>
                    <label for="api-secret" class="block font-medium">API Secret</label>
                    <input type="password" name="api_secret" id="api-secret" class="block rounded ring-1 ring-inset ring-gray-300 p-1" placeholder="Paste your API Secret">
                </div>
                <div>
                    <label for="api-workspace" class="block font-medium">Workspace Identifier</label>
                    <input type="text" name="api_workspace" id="api-workspace" class="block rounded ring-1 ring-inset ring-gray-300 p-1" placeholder="Paste your Workspace Identifier">
                </div>
                <div>
                    <label for="api-templateid" class="block font-medium">Template ID</label>
                    <input type="text" name="api_templateid" id="api-templateid" class="block rounded ring-1 ring-inset ring-gray-300 p-1" placeholder="Paste your Template ID">
                </div>
                <div>
                    <label for="api-data" class="block font-medium">JSON Data</label>
                    <textarea type="text" name="api_data" id="api-data" class="block rounded ring-1 ring-inset ring-gray-300 p-1" placeholder="Paste your JSON that is used to replace values in the template"></textarea>
                </div>
            </div>
            <div class="mt-4">
                <button type="button" id="load-editor-btn" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Open editor</button>
            </div>
        </form>
    </div>
    <div style="width: 75%;">
        <h2 class="p-1 text-lg font-bold border-b border-gray-100">Editor</h2>
        <p class="p-2">The editor will appear here.</p>
        <iframe id="editor-iframe" width="100%" height="800px" border="0"></iframe>
    </div>
</div>

<script type="module" src="{% static 'formats/pdf_generator_api.js' %}">
</script>
</body>

</html>