{% extends "generic/base.html" %}

{% block container %}
    <div class="container-fluid">

        <div class="row">
            <div class="container-fluid mh-100 row">
                <iframe id="editor-iframe" class="mh-100 w-100" height="1000" allowfullscreen src="{{ api_url }}"></iframe>
            </div>
        </div>
        <hr>

        <form method="post" class="needs-validation" {% if form.errors %} novalidate {% else %} was-validated{% endif %}>
            {% csrf_token %}
            <div class="row justify-content-center align-bottom">
                <div class="col-3">
                    <label for="{{ form.name.auto_id }}" class="form-label">{{ form.name.label }}</label>
                    <input type="{{ form.name.widget_type }}" class="form-control" id="{{ form.name.auto_id }}" name="{{ form.name.name }}" placeholder="{{ form.name.label }}" value="{{ form.name.value|default_if_none:'' }}" {{ form.name.required }}>
                </div>
                <div class="col-3">
                    <label for="{{ form.mode.auto_id }}" class="form-label">{{ form.mode.label }}</label>
                    <input type="{{ form.mode.widget_type }}" class="form-control" id="{{ form.mode.auto_id }}" name="{{ form.mode.name }}" placeholder="{{ form.mode.label }}" value="{{ form.mode.value|default_if_none:'' }}" {{ form.mode.required }}>
                </div>
                <div class="col-3">
                    <label for="{{ form.description.auto_id }}" class="form-label">{{ form.description.label }}</label>
                    <input type="{{ form.description.widget_type }}" class="form-control" id="{{ form.description.auto_id }}" name="{{ form.description.name }}" placeholder="{{ form.description.label }}" value="{{ form.description.value|default_if_none:'' }}" {{ form.description.required }}>
                </div>
                <div class="col align-bottom">
                    <button type="submit" class="btn btn-success btn-lg">Actualizar</button>
                </div>
            </div>
        <hr>
        </form>
    </div>


{% endblock %}

{% block custom_js %}
{% endblock %}