{% extends "generic/base.html" %}

{% block container %}
    <section class="d-flex flex-column justify-content-end align-items-center">

        <div class="container-fluid">
            {% if perms.programas.add_company %}
                <div class="row m-3">
                    <div class="col-10"></div>
                    <div class="col">
                        <a href="/companies/create/" class="btn btn-primary">
                            Crear nueva compañia
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="card m-3">
                <h3 class="card-header">Lista de compañias</h3>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <thead class="thead-light">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Sector</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for company in object_list %}
                            <tr>
                                <td><a href="/companies/{{ company.id }}">{{ company.id }}</a></td>
                                <td>{{ company.name }}</td>
                                <td>{{ company.street }}</td>
                                <td>{{ company.sector }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% if is_paginated %}
                {% include "generic/pagination.html" %}
            {% endif %}
        </div>
    </section>
{% endblock %}