{% extends "generic/base.html" %}

{% block container %}
    {% if perms.programas.add_company %}
    <div class="row m-5">
        <div class="col-10"></div>
        <div class="col">
            <a href="/companies/create/" class="btn btn-primary" >
                Crear nueva compañia
            </a>
        </div>
    </div>
    {% endif %}
<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">Sector</th>
            </tr>
        </thead>
        <tbody>
            {% for company in object_list %}
            <tr>
                <td><a href="/companies/{{ company.id }}">{{ company.id}}</a></td>
                <td>{{ company.name }}</td>
                <td>{{ company.street }}</td>
                <td>{{ company.sector }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% if is_paginated %}
    {% include "generic/pagination.html" %}
{% endif %}

{% endblock %}