{% extends "generic/base.html" %}

{% block container %}
    <div class="container-fluid">

        <div class="card m-5">
            <h3 class="card-header">Perfil de usuario</h3>

            <div class="card-body">
                <div>
                    Nombre: {{ user.name }}
                </div>
                <div>
                    Apellido materno: {{ user.first_surname }}
                </div>
                <div>
                    Apellido paterno: {{ user.second_surname }}
                </div>
            </div>
        </div>
    {% if user.student %}

        <div class="card m-5">

            <h3 class="card-header">Perfil de estudiante</h3>

            <div class="card-body">
                <h5 class="card-title">Aqui van los datos del estudiante</h5>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" id="student-tab" data-bs-toggle="tab" href="#student" role="tab" type="button" aria-controls="student" aria-selected="true">Datos</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="programs-tab" data-bs-toggle="tab" href="#programs" role="tab" type="button" aria-controls="programs" aria-selected="false">Programas</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="documents-tab" data-bs-toggle="tab" href="#documents" role="tab" type="button" aria-controls="documents" aria-selected="false">Archivos</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="student" role="tabpanel" aria-labelledby="student-tab">
                        <ul>
                            <li><b>Facultad:</b> {{ user.student.faculty.name }} </li>
                        <li><b>Matricula:</b> {{ user.student.tuition }}</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="programs" role="tabpanel" aria-labelledby="programs-tab">
                        <div class="card-deck m-3">
                        <div class="card mb-3">
                            <h4 class="card-header">Servicio Social</h4>
                            <div class="card-body">
                                {% if user.student.social_service %}
                                    <p class="card-text">{{ user.student.social_service.name }} - {{ user.student.social_service.folio }}</p>
                                    <p class="card-text">{{ user.student.social_service.company.name }}</p>
                                    <p class="card-text">{{ user.student.social_service.description }}</p>
                                {% else %}
                                <b>Debes seleccionar un programa de servicio social</b>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card mb-3">
                            <h4 class="card-header">Prácticas profesionales</h4>
                            <div class="card-body">

                                {% if user.student.professional_practices %}
                                    <p class="card-text">{{ user.student.professional_practices.name }} - {{ user.student.professional_practices.folio }}</p>
                                    <p class="card-text">{{ user.student.social_service.company.name }}</p>
                                    <p class="card-text">{{ user.student.professional_practices.description }}</p>
                                {% else %}
                                    <b>Debes seleccionar un programa de practicas profesionales</b>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">
                        {% regroup documents by get_mode_display as document_list %}

                        <div class="card-deck m-3">
                        {% for mode in document_list %}

                            <div class="card">
                            <h4 class="card-header">{{ mode.grouper }}</h4>

                                <div class="card-body">
                                    {% if mode.list.0.mode == 'PP' and user.student.professional_practices or mode.list.0.mode == 'SS' and user.student.social_service%}
                                <ul>
                                    {% for document in mode.list %}
                                        <li><a href="/documents/{{ document.id }}/download/">{{ document.name }}</a></li>
                                    {% endfor %}
                                {% else %}
                                <li>Debes seleccionar tu programa para poder visualizar los documentos</li>
                                </ul>
                                    {% endif %}
                                </div>
                            </div>


                        {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if user.company %}
        <div class="card m-5">

            <h3 class="card-header">Perfil de empresa</h3>

            <div class="card-body">
                <h5 class="card-title">Aqui van los datos de la empresa</h5>
                <p class="card-text">Mas datos</p>
            </div>
        </div>
    {% endif %}

    </div>


{% endblock %}

{% block custom_js %}

    <script>
        $('#nav-tab a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
{% endblock %}